@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background: linear-gradient(-45deg, #161616, #151515, #2a2a2a, #1f1f1f);
    background-size: 300% 300%;
    animation: flowBackgroundDark 10s infinite alternate ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    font-family: "Cabin", sans-serif;
    font-weight: 200;
    font-size: 25;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    color:#D9D7E5
}

@keyframes flowBackgroundDark {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

header {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.foto-perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}

.logo-esquerda {
    position: absolute; 
    bottom: 13px;
    left: 40px;
    width: 100px;
    height: auto;
    height: auto;
    z-index: 10;
}

.logo-direita {
    position: absolute; 
    bottom: 13px;
    right: 40px;
    width: 100px;
    height: auto;
    height: auto;
    z-index: 10;
}

section {
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

html {
    scroll-behavior: smooth;
}

nav {
    margin-top: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #D9D7E5;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0056b3;
}

.dark-mode nav ul li a {
    color:#161616
}

.dark-mode section {
    background-color: #f4f4f4;
}

.dark-mode footer {
    color: #161616;
    background-color: #f4f4f4;
}

footer {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
}

a {
    color: #D9D7E5;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}


.dark-mode {
    background: linear-gradient(-45deg, #e0e0e0, #d4d4d4, #bcbcbc, #a6a6a6);
    background-size: 400% 400%;
    animation: flowBackgroundLight 6s infinite linear;
    color: #161616;
}

@keyframes flowBackgroundLight {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.dark-mode a {
    color: #161616
}

body.dark-mode a:hover {
    color: #0056b3;
}

.toggle-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid #aaa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    border: 1px solid #aaa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
    background-color: #ccc;
}

input:checked + .slider:before {
    transform: translateX(24px);
}